@import '../../styles/settings.scss';

.container {
    max-width: 300px;
    margin: 20px auto;

    display: flex;
    justify-content: center;
    background-color: $color-dark;

    padding: ($base-size * 3) 0;
    text-align: center;
    font-size: ($base-size * 2);
    text-transform: uppercase;
    height: 922px;
    width: 379px;
}


  